---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Drawer from "@layouts/Drawer.astro";

import Tags from "@components/article/Tags.astro";
import Title from "@components/article/Title.astro";
import Author from "@components/article/Author.astro";
import Date from "@components/article/Date.astro";

export async function getStaticPaths() {
  const ideas = await getCollection("ideas");
  return ideas.map(idea => {
    let slug = idea.filePath
    slug = slug?.replace(/^idea\//, "");
    slug = slug?.replace(/\.mdx?$/, "");
    return {
      params: { slug },
      props : { idea },
    }
  });
}

const { idea    } = Astro.props;
const { Content } = await render(idea);
---

<Layout>
  <Drawer>
    <div class="flex flex-col w-full items-center">
      <div class="flex flex-col w-[960px] min-h-dvh items-center">
        <div class="flex flex-col w-full items-center p-4">
          <Title title={idea.data.title}/>
          <div class="flex flex-row w-full justify-center text-xl gap-2">
            <Author author={idea.data.author}/>|
            <Date pubDate={idea.data.pubDate}/>
          </div>
          <Tags tags={idea.data.tags}/>
        </div>
        <div class="flex flex-col w-full p-8 prose shadow-lg flex-1">
          <Content/>
        </div>
      </div>
    </div>
  </Drawer>
</Layout>