---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Drawer from "@layouts/Drawer.astro";

import Tags from "@components/Tags.astro";

export async function getStaticPaths() {
  const ideas = await getCollection("ideas");
  
  return ideas.map(idea => {
    let slug = idea.filePath
    slug = slug?.replace(/^idea\//, "");
    slug = slug?.replace(/\.mdx?$/, "");
    return {
      params: { slug },
      props : { idea },
    }
  });
}

const { idea    } = Astro.props;
const { Content } = await render(idea);
---

<Layout>
  <Drawer>
    <!-- Container -->
    <div class="flex flex-col w-full min-h-dvh items-center">
      <!-- Spacing -->
      <div class="h-4"></div>

      <!-- Header -->
      <div class="flex flex-col w-3xs items-center sm:w-lg">
        <!-- Author | Date -->
        <div class="hidden sm:flex flex-row w-full justify-center gap-2 text-lg">
          <span>{idea.data.author                 }</span>
          { (idea.data.author && idea.data.pubDate) ? "|" : "" }
          <span>{idea.data.pubDate?.toDateString()}</span>
        </div>

        <!-- Title -->
        <span class="text-2xl text-center font-bold sm:text-4xl">
          {idea.data.title}
        </span>

        <!-- Tags -->
        <Tags tags={idea.data.tags} class="text-sm sm:text-lg"/>
      </div>

      <!-- Article -->
      <div class="flex flex-col w-full flex-1 sm:max-w-2xl sm:shadow-lg prose prose-sm sm:prose-lg break-words sm:break-normal p-8">
        <Content/>
      </div>
    </div>
  </Drawer>
</Layout>