---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Drawer from "../../layouts/Drawer.astro";


export async function getStaticPaths() {
  const ideas = await getCollection("ideas");
  return ideas.map(idea => {
    let slug = idea.filePath
    slug = slug?.replace(/^idea\//, "");
    slug = slug?.replace(/\.mdx?$/, "");
    return {
      params: { slug },
      props : { idea },
    }
  });
}

const { idea    } = Astro.props;
const { Content } = await render(idea);
---

<Layout>
  <Drawer>
    <div class="flex flex-col w-[960px] items-center self-center">
      <h1>{idea.data.title}</h1>
      <Content/>
    </div>
  </Drawer>
</Layout>