---
import Layout from "@layouts/Layout.astro";
import Drawer from "@layouts/Drawer.astro";
import { getCollection } from "astro:content";
import { Construction, Lightbulb } from "lucide-astro";
import { Idea } from "@tool/idea";

const ideas = (await getCollection("ideas"))
  .sort((a, b) => (
    (b.data.pubDate?.valueOf() ?? 0) - 
    (a.data.pubDate?.valueOf() ?? 0)
  ))

---

<Layout>
  <Drawer>
    <div class="flex flex-col w-full h-full items-center">
      <div class="h-4"></div>
      <span class="text-6xl font-bold text-center">Ideas</span>
      <div class="h-4"></div>
      <div class="w-full flex flex-row flex-wrap max-w-xs justify-center sm:max-w-2xl lg:max-w-5xl">
        { ideas.map(idea => (
          <a href={`/idea/${Idea.slug(idea)}`} class="flex flex-row flex-1 max-w-xs items-center p-4 rounded-lg hover:bg-base-200">
            { !Idea.isDraft(idea) && <Lightbulb    class="w-10 h-10"/> }
            {  Idea.isDraft(idea) && <Construction class="w-10 h-10"/> }
            <div class="divider divider-horizontal"></div>
            <div class="flex flex-col flex-1 items-start">
              <span class="text-lg sm:text-xl font-bold">{idea.data.title }</span>
              { idea.data.pubDate && <span class="text-sm sm:text-lg">{idea.data.pubDate?.toDateString()}</span>}
            </div>
          </a>
        ))}
      </div>
    </div>
  </Drawer>
</Layout>