---
export type Props = {
  pubDate: Date | undefined
}

const { pubDate } = Astro.props
---
<div class="flex flex-row justify-center">
  <span class="text-center text-xl">{pubDate?.toDateString()}</span>
</div>

