---
export type Props = {
  title: string | undefined
}

const { title } = Astro.props
---
<div class="flex flex-row justify-center">
  <span class="text-4xl text-center font-bold">{title}</span>
</div>