---
title: About
permalink: "/about/"
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="'UTF-8" />
    <link href="./css/style.css" rel="stylesheet" />
    <title>{{ title }}</title>
  </head>
  <body>{{ content }}</body>
</html>