---
title: Home
permalink: "/"
---

<!DOCTYPE html>
<html>
  <head>
    <link href="./asset/css/style.css" rel="stylesheet" />
    <script src="https://unpkg.com/phosphor-icons"></script>

    <meta charset="UTF-8" />
    <title>{{ title }}</title>
  </head>
  <body class="bg-pink-900">

    <div class="grid grid-flow-row container mx-auto h-screen place-content-center place-items-center space-y-4">

      <img class="w-32 h-32 rounded-full" src="./asset/png/profile.png" />
      <p class="text-center text-white text-6xl font-serif font-bold ">Shawn McGee</p>
      <p class="text-center text-white text-xl  font-serif           ">Full-time dad, Part-Time DM, Some-Time Programmer.</p>
      <div class="grid grid-flow-col w-1/2 place-items-center">
        <a href="https://github.com/shawn-mcgee" title="GitHub">
          <img class="invert dark:invert-0 w-8 h-8" src="./asset/svg/github-white.svg" />
        </a>
        <a href="https://tinycthulu.itch.io/" title="Itch.io">
          <img class="invert dark:invert-0 w-8 h-8" src="./asset/svg/itchio-white.svg" />
        </a>
        <a href="./posts" title="Posts">
          <i class="ph-scroll text-white text-4xl"></i>
        </a>
      </div>
    </div>

  </body>
</html>