---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col w-full h-full justify-center items-center">
    <h1>About</h1>

    <span>A list of projects that make this site possible</span>
    <ul>
      <li><a href="https://github.com/withastro/astro">Astro</a></li>
      <li><a href="https://github.com/tailwindlabs/tailwindcss">TailwindCSS</a></li>
      <li><a href="https://github.com/saadeghi/daisyui">daisyUI</a></li>
      <li><a href="https://github.com/saadeghi/theme-change">theme-change</a></li>
      <li><a href="https://github.com/mdx-js/mdx">MDX</a></li>
      <li><a href="https://github.com/dzeiocom/lucide-astro" target="_blank">lucide-astro</a></li>
    </ul>
  </div>
</Layout>