---
import Github from "@icons/Github.astro";
import Itchio from "@icons/Itchio.astro";
import Drawer from "@layouts/Drawer.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { CircleHelp, Ellipsis, LibraryBig, Lightbulb } from "lucide-astro";

import { Idea } from "@tool/idea";

const ideas = (await getCollection("ideas"))
  .filter(idea => idea.data.pubDate)
  .sort((a, b) => (
    b.data.pubDate!.valueOf() - 
    a.data.pubDate!.valueOf()
  ))
  .slice(0, 3)
---

<Layout>
  <Drawer>
    <div class="flex flex-col w-full justify-center items-center gap-1">
      <div class="flex flex-col w-full h-dvh justify-center items-center gap-1">
        <!-- <img  class="w-32 h-32 rounded-full border-4 border-primary" src="/pfp.png"> -->
        <span class="text-6xl font-bold text-center sm:text-8xl dark:text-primary">Shawn McGee</span>
        <span class="text-xl italic text-center hidden sm:inline">Full-Time Dad, Part-Time DM, Some-Time Programmer</span>
        <div class="flex flex-row gap-1">
          <span class="tooltip tooltip-bottom" data-tip="Blog">
            <a class="btn btn-xl btn-ghost btn-circle" href="#ideas">
              <LibraryBig class="w-10 h-10"/>
            </a>
          </span>
  
          <span class="tooltip tooltip-bottom" data-tip="GitHub">
            <a class="btn btn-xl btn-ghost btn-circle" href="https://github.com/shawn-mcgee" target="_blank">
              <Github class="w-10 h-10"/>
            </a>
          </span>
  
          <span class="tooltip tooltip-bottom" data-tip="Itch">
            <a class="btn btn-xl btn-ghost btn-circle" href="https://shawn-mcgee.itch.io" target="_blank">
              <Itchio class="w-10 h-10"/>
            </a>
          </span>
  
          <span class="tooltip tooltip-bottom" data-tip="About">
            <a class="btn btn-xl btn-ghost btn-circle" href="/about">
              <CircleHelp class="w-10 h-10"/>
            </a>
          </span>
          
        </div>
      </div>

      <a id="ideas"></a>

      <div class="flex flex-col w-full min-h-dvh justify-center items-center">
        <div class="w-full flex flex-row gap-2 justify-center items-center">
          <!-- <ClockAlert class="w-10 h-10"/> -->
          <span class="text-6xl font-bold">Recent Ideas</span>
        </div>
        
        {ideas.map(idea => (
          <a href={`/idea/${Idea.slug(idea)}`} class="w-sm flex flex-row items-center p-4 rounded-lg hover:bg-base-200">
            <Lightbulb class="w-10 h-10"/>
            <div class="divider divider-horizontal"></div>
            <div class="flex flex-col flex-1 items-start">
              <span class="text-lg sm:text-xl font-bold">{idea.data.title                  }</span>
              <span class="text-sm sm:text-lg"          >{idea.data.pubDate?.toDateString()}</span>
            </div>
          </a>
        ))}

        <span class="tooltip tooltip-bottom" data-tip="More Ideas">
          <a href="/idea" class="btn btn-xl btn-ghost btn-circle">
            <Ellipsis class="w-10 h-10"/>
          </a>
        </span>
      </div>      
    </div>
  </Drawer>	
</Layout>
