@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 300 100% 95%;
  --foreground: 300 5% 0%;
  --card: 300 50% 90%;
  --card-foreground: 300 5% 10%;
  --popover: 300 100% 95%;
  --popover-foreground: 300 100% 0%;
  --primary: 300 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 300 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 262 30% 85%;
  --muted-foreground: 300 5% 35%;
  --accent: 262 30% 80%;
  --accent-foreground: 300 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 300 5% 90%;
  --border: 300 30% 50%;
  --input: 300 30% 18%;
  --ring: 300 100% 50%;
  --radius: 0.5rem;
}

.dark {
  --background: 300 50% 5%;
  --foreground: 300 5% 90%;
  --card: 300 50% 0%;
  --card-foreground: 300 5% 90%;
  --popover: 300 50% 5%;
  --popover-foreground: 300 5% 90%;
  --primary: 300 100% 50%;
  --primary-foreground: 0 0% 100%;
  --secondary: 300 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 262 30% 15%;
  --muted-foreground: 300 5% 60%;
  --accent: 262 30% 15%;
  --accent-foreground: 300 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 300 5% 90%;
  --border: 300 30% 18%;
  --input: 300 30% 18%;
  --ring: 300 100% 50%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-secondary/75
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary/25 rounded-lg
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary/50
  }
}

