---
import Tag from "@components/Tag.astro"

export type Props = {
  tags: Array<string> | undefined
  class: string
}

const { tags, class: className } = Astro.props
---

<div class:list={[className, "flex flex-row w-full justify-center gap-1 p-1"]}>
  {tags?.map(tag => <Tag {tag}/>)}
</div>