---
import Github from "@icons/Github.astro";
import Itchio from "@icons/Itchio.astro";
import { BookMarked, CircleHelp, House, LibraryBig, Moon, Sun } from 'lucide-astro';
---

<div class="drawer w-full h-full">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content w-full h-full overflow-y-auto">
    <!-- Page content here -->
    <slot />

    <label for="my-drawer" class="btn btn-xl btn-ghost btn-circle absolute top-4 left-4">
      <BookMarked class="w-10 h-10"/>
    </label>

    <label class="swap swap-rotate btn btn-xl btn-ghost btn-circle absolute top-4 right-4">
      <!-- this hidden checkbox controls the state -->
      <input type="checkbox" data-toggle-theme="valentine,dracula" data-act-class="ACTIVECLASS"/>
      <Sun  class="swap-off w-10 h-10" />
      <Moon class="swap-on  w-10 h-10" />
    </label>
  </div>

  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <!-- Sidebar content here -->

      <span class="p-1 text-3xl font-bold font-[Fragment_Mono] dark:text-primary">
        /goto
      </span>

      <!-- Home -->
      <li><a class="flex flex-row gap-1 text-2xl" href="/">
        <span class="flex-1">Home</span>
        <House/>
      </a></li>

      <!-- Blog -->
      <li><a class="flex flex-row gap-1 text-2xl" href="/blog">
        <span class="flex-1">Blog</span>
        <LibraryBig/>
      </a></li>

      <!-- GitHub -->
      <li><a class="flex flex-row gap-1 text-2xl" href="https://github.com/shawn-mcgee" target="_blank">
        <span class="flex-1">GitHub</span>
        <Github/>
      </a></li>

      <!-- Itch -->
      <li><a class="flex flex-row gap-1 text-2xl" href="https://shawn-mcgee.itch.io" target="_blank">
        <span class="flex-1">Itch</span>
        <Itchio/>
      </a></li>

      <!-- About -->
      <li><a class="flex flex-row gap-1 text-2xl" href="/about">
        <span class="flex-1">About</span>
        <CircleHelp/>
      </a></li>

    </ul>
  </div>
</div>