---
import "/src/styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
    <script is:inline>
      if (localStorage.getItem("theme") === null) {
        document.documentElement.setAttribute("data-theme", "light");
      } else {
        document.documentElement.setAttribute("data-theme",localStorage.getItem("theme"));
      }
    </script>
    
    <script>
      import { themeChange } from "theme-change";
      themeChange();
    </script>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Shawn McGee</title>

    <!-- sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- rss -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Shawn McGee's Blog"
      href={new URL("rss.xml", Astro.site)}
    />
	</head>
	<body class="font-[Figtree] w-dvw h-dvh overflow-hidden">
    <slot/>
	</body>
</html>
